---
layout: null
title: Tu Nguyen
description: My Online CV
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<!--
La
-->
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
            <img height=220px src="{{ "/images/indep_set.png" | absolute_url }}" alt="Independent Set in Graph" /><br />
						<p>Welcome to my personal page,<br />
						where I write about mathematics and machine learning</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">TU NGUYEN's CV</a></h2>
									<p>Applied Mathematics and Informatics major at Hanoi University of Science and Technology (B.Eng)<br />
                    Talented Program (selected 120 out of 3,500)</p>
								</header>
								<a href="https://en.wikipedia.org/wiki/Temple_of_Literature,_Hanoi" target="_blank" class="image main"><img src="{{ "/images/hn_vm.jpg" | absolute_url }}" alt="Temple of Literature in Hanoi" /></a>

          <div id="cv">

          <div id="page-wrap">
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt style="height:215px">Education</dt>
            <dd>
                <h2 class="align-left">Hanoi University of Science and Technology<span>2015-Present</span></h2>
                <p><strong>Major:</strong> Applied Mathematics and Informatics<br />
                   <strong>GPA:</strong> 3.75 / 4.00 (current)</p>
            </dd>

            <dd>
                <h2 class="align-left">High School for Gifted Students, VNU<span>2011-2014</h2>
                <p><strong>Major:</strong> Mathematics (A0-1 class)<br />
                   <strong>GPA:</strong> 9.1 / 10.0</p>
            </dd>


            
            <dd class="clear"></dd>
            
            <dt style="height:435px">Honors</dt>
            <dd >
                <h2 class="align-left">National Program for the Development of <span>2017-2018</span> <br /> Mathematics Scholarship </h2>
                <p><strong>Criteria:</strong> Outstanding students working in Mathematics<br />
                   <strong>Quotas:</strong> 200 per year (national) <br />
                   <strong>URL:</strong> <a href="http://viasm.edu.vn/en/npdm/student-scholarship" target="_blank">Vietnam Institute for Advanced Study in Mathematics</a></p>


                <h2 class="align-left">National 1st Prize on Algebra<span>April 2017</span></h2>
                <p><strong>Info:</strong> National Olympiad for Mathematics (<a href="mailto:tu.nguyenanh.96@gmail.com?Subject=Certificate%20Request" target="_top">Request Certificate</a>)<br />
                   <strong>URL:</strong> <a href="http://sami.hust.edu.vn/tin-tuc/olympic-toan-hoc-sinh-vien-va-hoc-sinh-2017-nhat-toan-doan-dai-hoc-bach-khoa-ha-noi/" target="_blank">News cover (Vietnamese)</a></p>

                <h2 class="align-left">National 2nd Prize on Algebra<span>April 2016</span></h2>
                <p><strong>Info:</strong> National Olympiad for Mathematics (<a href="mailto:tu.nguyenanh.96@gmail.com?Subject=Certificate%20Request" target="_top">Request Certificate</a>)<br /></p>

                <h2 class="align-left">Ranked 1st University-wide on Algebra<span>Jan 2016</span></h2>
                <p><strong>Info:</strong> Mathematics team selection (<a href="mailto:tu.nguyenanh.96@gmail.com?Subject=Certificate%20Request" target="_top">Request Certificate</a>)<br /></p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt style="height:800px">Experience</dt>
            <dd>
                <h2 class="align-left">SAMI - Graph Theory Research<span>2016-Present</span></h2>
                <h3 class="align-left"><i><font color="#2471A3">Student Researcher</font></i></h3>
                 <p><strong>Independent Set Problem:</strong> Conduct research on the independent <br /> set problem and related techniques. My main work involves
                 <br /> classifying which class of graph is polynomially solvable and <br />optimizing the performance boundaries for heuristic and greedy <br /> IS algorithms. </p>
                 <p><strong>Dominating Set Problem:</strong> Conduct research on some of the <br /> subproblems of finding minimum dominating set.<br /> I am currently working on proving theorems and devising<br /> algorithms for (fork; T-3,2)-free graphs. </p>
                
                <h2 class="align-left">WebSoSanh.VN <span>2018-Present</span></h2>
                <h3 class="align-left"><i><font color="#2471A3">ML Engineering Intern</font></i></h3>
                <p><strong>Product Classification:</strong> Analyze and process product names <br />
                to use for category prediction. The principal dataset that I work <br /> with is the
                collection of 2,000,000 products in the company's<br /> database. My reponsibility is to produce a high-quality<br /> embedding vectors set mapping from product names to<br /> real vectors using natural language processing techniques.</p>

                <h2 class="align-left">SkyMap Global <span>May 2017</span></h2>
                <h3 class="align-left"><i><font color="#2471A3">Tester</font></i></h3>
                <p><strong>Front-End Products:</strong> Test and make sure the quality of <br /> new website and mobile application versions.</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt style="height:50px">Hobbies</dt>
            <dd>
                 <p>Swimming, Pokemon games (strictly) by Nintendo</p> 
            </dd>
            
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>
      </div>


							</article>


						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">My Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
